    /* -- body = LANDINGPAGE gen.  -- */
    body {

        background-color: rgba(244, 242, 238, 0.144);
        font-family: 'Red Hat Display', sans-serif;
    }

    /* -- box-sizing  = anordnung -- */
    * {
        box-sizing: border-box;

    }


    /* -- header = KOPFZEILE -- */
    header {
        padding-top: 4vh;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;

    }

    /* -- div.mult_view  = übersicht LANDINGPAGE video sektion -- */
    div.mult_view {

        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        /* width: calc(100%-40px) */
    }

    /* -- .project_view = PROJEKTPÜBERSICHT, videos -- */
    .project_view {
        object-fit: cover;
        width: 460px;
        height: 270px;
        transition: transform .3s;
        /* --- hover transition time --- */
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        overflow: hidden;

    }

    /* -- project_view:hover = PROJEKTPÜBERSICHT -- */
    .project_view:hover {
        transform: translate3d(50px, 20px, 200px);
        transform: scale(1.1);
        overflow: visible;
    }

    /* -- header = KOPFZEILE -- */
    header {
        padding-top: 4vh;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;

    }

    /* -- a = header KOPFZEILE Layout  -- */
    a {
        color: rgb(43, 38, 28);
        cursor: pointer;
        font-family: 'Red Hat Display';
        font-size: 22px;
        font-style: normal;
        font-weight: normal;

    }



    section {

        max-height: auto;
        overflow: hidden;
        font-family: 'Red Hat Display';
        color: rgb(43, 38, 28);
    }

    section#momente {
        margin: 20px;
        max-height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-family: 'Red Hat Display';
        color: rgb(43, 38, 28);

    }

    /* -- a#links = LINKS zu tumbler etc. -- */

    a#links {
        color: rgb(43, 38, 28);
        font-family: 'Red Hat Display';
        font-size: 12px;
        font-style: Medium;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
    }

    /* -- h1 = PROJEKTTITEL -- */

    h1 {
        color: rgb(43, 38, 28);
        font-family: 'Red Hat Display';
        font-size: 36px;
        font-style: Medium;
        font-weight: 400;
        margin: 0px;
    }

    /* -- h2 = untertittelunter -- */

    h2 {
        color: rgb(43, 38, 28);
        font-family: 'Red Hat Display';
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        margin: 0px;
    }

    /* -- p = PROJEKTBESCHRIEB -- */

    p {
        margin-right: 40px;
        color: rgb(43, 38, 28);
        font-family: 'Red Hat Display';
        font-size: 12px;
        font-style: Light;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: justify;

    }




    div#Description {
        height: 540px;
        max-width: 360px;
        margin-left: 20px;
    }

    .subpages {

        max-width: 100%;
        display: flex;
        justify-content: flex-start;

    }

    .content_left {
        width: 50%;
        object-fit: cover;
        display: flex;
        flex-direction: column;
        overflow: hidden;

    }

    .project_info {
        max-width: 50%;
        margin-top: 15vh;
        height: auto;
        position: fixed;
        margin-left: 50%;
    }

    .credits {
        max-width: 100%;
        height: auto;
        margin-right: 40px;
        border-color: rgb(43, 38, 28);
        border-width: 1px;
        border-top-style: dashed;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: none;

    }

    /* div#momente_margin {
        margin-left: 20vh;
    } */






    /* Desktop Notebook, Macbook 15 Inch, Media Queries */

    @media (min-width: 1200px) and (max-width: 1500px) {

        video#video_resize {
            width: 430px;
            height: 290px;
        }

        /* image#image_resize {
            width: 420px;
            height: 270px;
        } */

        /* -- project_view = ansicht videos -- */
        .project_view {

            width: 430px;
            height: 290px;
        }

        .project_info {
            max-width: 50%;
            margin-left: 100vh;
        }

        a {
            color: rgb(43, 38, 28);
            text-decoration: none;
            cursor: pointer;
            font-family: 'Red Hat Display';
            font-size: 32px;
            font-style: normal;
            font-weight: 400;

        }


    }
    /* Ipad and tablet devices */

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

        div.mult_view {

            margin-bottom: 0px;
            margin-left: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;

        }

        image#image_resize {
            width: 270px;
            height: 180px;
        }

        img {
            width: 100%;
            height: auto;
        }

        video#video_resize {
            object-fit: cover;
            width: 100%;
            height: 396px;
        }

        video {
            width: 100%;
            height: auto;
        }


        div.project_view {
            margin-bottom: 20px;
            width: 100%;
            height: 396px;
        }

        a {
            color: rgb(43, 38, 28);
            cursor: pointer;
            font-family: 'Red Hat Display';
            font-size: 22px;
            font-style: normal;
            font-weight: normal;

        }

    }

    /*Mobile Version */
    @media only screen and (max-device-width: 480px) {


        div.mult_view {

            margin-bottom: 0px;
            margin-left: 0px;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;

        }

        image#image_resize {
            width: 270px;
            height: 180px;
        }

        img {
            width: 100%;
            height: auto;
        }

        video#video_resize {
            object-fit: cover;
            width: 100%;
            height: 396px;
        }
        video {
            width: 100%;
            height: auto;
        }


        div.project_view {
            margin-bottom: 20px;
            width: 100%;
            height: 396px;
        }

        a {
            color: rgb(43, 38, 28);
            cursor: pointer;
            font-family: 'Red Hat Display';
            font-size: 22px;
            font-style: normal;
            font-weight: normal;

        }
    }