body {
margin:0px;
background-color: black;
font-family: 'Work Sans', sans-serif;color: white;


}
*{
box-sizing:border-box;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Work Sans';
    font-size: 22px;
    font-style: thin italic;
    font-weight: 600;
    text-transform: lowercase;
}
a#links {
    color: white;
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}
h1 {
    color: white;
    font-family: 'Work Sans';
    font-size: 36px;
    font-style:  italic;
    font-weight: 400;
}
h2 {
    color: white;
    font-family: 'Work Sans';
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    text-transform: lowercase;
}
p {
    color: white;
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 1px;

}
header {
    padding-top: 4vh;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;color: white;
    font-size: 22px;
    font-style: thin italic;
    font-weight: 600px;

}
header#center {
    padding-top: 4vh;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;

}

section {
    margin:0px;
    max-height:auto;
    overflow: hidden;
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
section#momente {
    margin:0px;
    max-height:auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
div.mult_view {
    
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap:wrap;
    width: calc(100%-40px)
    
}

.project_view {
    object-fit:cover;
    width: 460px;
    height: 270px;
    transition: transform .2s;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    
}
.project_view:hover  {
    transform: translate3d(50px, 20px, 200px);
    transform: scale(1.1);
   }

.about_view {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
div#Description {
    height: 540px;
    max-width: 360px;;
    margin-left: 20px;
}
.subpages {
     
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    
}
.content_left {
    width: 50%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
}
.project_info {
    max-width: 50%;
    margin-top: 30vh;
    height: auto;
    position: fixed;
    margin-left: 50%;
}
.project_info_about {
    max-width: 50%;
    margin-top: 20vh;
    height: auto;
    position: fixed;
    margin-left: 50%;

}

div#about {
    max-width: 50%;
    margin-top: 20vh;
    height: auto;
    position: fixed;
    margin-left: 50%;
}


div#momente_margin {
    margin-left: 20vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 100vw;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 20px;
    padding-bottom: 6vh;
}

footer#about {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    padding: 60px;
    overflow: hidden;
    white-space: nowrap;
}

/* Desktop Notebook, Macbook 15 Inch, Media Queries */

@media (min-width: 1200px) and (max-width: 1500px) {
  
video#video_resize {
    width: 430px;
    height: 290px;
}

.project_view {
    
    width: 430px;
    height: 290px;
}
 .project_info {
     max-width: 50%;
     margin-left: 100vh;
 }   
.project_info_about {
    max-width: 60%;
    margin-left: 52%;
    
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Work Sans';
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    text-transform: lowercase;
}
h2{
    font-size: 22px;
}
   
  }

  /*Mobile Version */
  @media only screen and (max-device-width: 480px) {


div.mult_view {
    
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap:wrap;
    width: 100%;
    
}

video#video_resize {
    object-fit: cover;
    width: 100%;
    height: 396px;
}
div.project_view {
    margin-bottom: 20px;
    width: 100%;
    height: 396px;
}
.project_info {
    
}
  }